/* *{
    border: 3px solid black;
} */

body{
    background-color: green;
}

.divs{
    width: 100%;
    height: 220px;
    border: 3px solid black;
}

.enemyStats{
    height:215px;
}

.enemyStatsHeader{
    width: 100%;
}

.emptySpace{
    width: 50%;
    height:215px;
}

.playerStats{
    height:215px;
}

.playerStatsHeader{
    width: 100%;
}

.playerSection{
    display: flex;
}

.enemySection{
    display: flex;
}

.enemyImg{
    text-align: center;
    background-color: white;
    animation-name: none;
    animation-duration: 1.5s;
}

.enemyImage{
    max-height: 200px;
    margin:0 auto;
    animation-name: none;
    animation-duration: 2s;
}

.enemyImag{
    max-height: 200px;
    margin:0 auto;
    animation-name: none;
    animation-duration: 2s;
}

.enemyIma{
    max-height: 200px;
    margin:0 auto;
    animation-name: none;
    animation-duration: 2s;
}

.enemyIm{
    max-height: 200px;
    margin:0 auto;
    animation-name: none;
    animation-duration: 2s;
}


.playerImg{
    text-align: center;
    background-color: white;
    animation-name: none;
    animation-duration: 1.5s;
}

.playerImage{
    max-height: 200px;
    margin:0 auto;
    animation-name: none;
    animation-duration: 2s;
}

button{
    text-align: center;
    margin-top: 50px;
    height: 50px;
    width: 100px;
    margin-left: 20px;
}

.gameFieldImgDiv{
    text-align: center;
}

.gameFieldImg{
    max-height: 220px;
    margin: 0 auto;
}

h1{
    margin-left: 20px;
}

h2{
    margin-left: 20px;
}

.textContainer{
    display: flex;
}

.InventoryDiv{
    width:100%;
    margin: 0;
    display: none;
}

.WeaponsDiv{
    width: 100%;
    margin: 0;
    display: none;
}

.startscreenbackground{
    background-image: url("https://image.freepik.com/free-vector/arcade-game-world-pixel-scene_24640-45908.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 900px;
}

.startScreenPlayerImage{
    margin-top: 5250px;
    transform-origin:left bottom;
}

.startScreenText{
    text-align: center;
    font-size: 75px;
    font-family: 'Indie Flower', cursive;
}

.fightDiv{
    text-align: center;
}

.startScreenTextDiv{
    text-align: center;
}


@-webkit-keyframes flip-horizontal-bottom {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
    100% {
      -webkit-transform: rotateX(-180deg);
              transform: rotateX(-180deg);
    }
  }
  @keyframes flip-horizontal-bottom {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
    100% {
      -webkit-transform: rotateX(-180deg);
              transform: rotateX(-180deg);
    }
  }